In [7]:
#%pip install numpy

In [8]:
import numpy as np

In [9]:
n = 1000
x = np.arange(n*n, dtype='int64').reshape(n,n)
y = x*2

z = x@y
print(z)

[[    665667000000     665667999000     665668998000 ...     666663003000
      666664002000     666665001000]
 [   1664667000000    1664669999000    1664672998000 ...    1667657003000
     1667660002000    1667663001000]
 [   2663667000000    2663671999000    2663676998000 ...    2668651003000
     2668656002000    2668661001000]
 ...
 [ 996668667000000  996670661999000  996672656998000 ...  998657681003000
   998659676002000  998661671001000]
 [ 997667667000000  997669663999000  997671660998000 ...  999658675003000
   999660672002000  999662669001000]
 [ 998666667000000  998668665999000  998670664998000 ... 1000659669003000
  1000661668002000 1000663667001000]]

In [10]:
%pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [40]:
import pandas as pd

df= pd.read_csv('dados/cidades.csv')
df.head()

   ranking       municipio                uf   populacao
0        1       São Paulo         São Paulo  11 451 999
1        2  Rio de Janeiro    Rio de Janeiro   6 211 223
2        3        Brasília  Distrito Federal   2 817 381
3        4       Fortaleza             Ceará   2 428 708
4        5        Salvador             Bahia   2 417 678

In [41]:
df1 = pd.read_csv('dados/cidades_separado_por_hashtag.csv', sep='#', header=None)
df1.head()

         0               1                 2           3
0  ranking       municipio                uf   populacao
1        1       São Paulo         São Paulo  11 451 999
2        2  Rio de Janeiro    Rio de Janeiro   6 211 223
3        3        Brasília  Distrito Federal   2 817 381
4        4       Fortaleza             Ceará   2 428 708

In [13]:
%pip install openpyxl lxml

Requirement already satisfied: openpyxl in ./.venv/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: lxml in ./.venv/lib/python3.12/site-packages (5.3.2)
Requirement already satisfied: et-xmlfile in ./.venv/lib/python3.12/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [42]:
df2 = pd.read_excel('dados/cidades.xlsx', 'Populacao')
df2.head()

   ranking       municipio                uf   populacao
0        1       São Paulo         São Paulo  11 451 999
1        2  Rio de Janeiro    Rio de Janeiro   6 211 223
2        3        Brasília  Distrito Federal   2 817 381
3        4       Fortaleza             Ceará   2 428 708
4        5        Salvador             Bahia   2 417 678

Filtrando Dados

In [43]:
df2.head()

   ranking       municipio                uf   populacao
0        1       São Paulo         São Paulo  11 451 999
1        2  Rio de Janeiro    Rio de Janeiro   6 211 223
2        3        Brasília  Distrito Federal   2 817 381
3        4       Fortaleza             Ceará   2 428 708
4        5        Salvador             Bahia   2 417 678

In [20]:
regiao_sudeste = [
    'São Paulo',
    'Rio de Janeiro'
    'Minas Gerais',
    'Espírito Santo'
]

dados_populacao_sudeste = df_csv[df_csv['uf'].isin(regiao_sudeste)]
dados_populacao_sudeste

     ranking              municipio         uf   populacao
0          1              São Paulo  São Paulo  11 451 999
12        13              Guarulhos  São Paulo   1 291 771
13        14               Campinas  São Paulo   1 139 047
20        21  São Bernardo do Campo  São Paulo     810 729
24        25            Santo André  São Paulo     748 919
..       ...                    ...        ...         ...
277      277                Cubatão  São Paulo     112 476
284      285               Paulínia  São Paulo     110 537
303      304               Ourinhos  São Paulo     103 970
305      306                    Poá  São Paulo     103 765
317      318                  Assis  São Paulo     101 409

[87 rows x 4 columns]

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ranking    319 non-null    int64
 1   municipio  319 non-null    object
 2   uf         319 non-null    object
 3   populacao  319 non-null    object
dtypes: int64(1), object(3)
memory usage: 10.1+ KB

In [1]:
import pandas as pd
dfm = pd.read_csv('M2A2/populacao.csv')
dfm.head()

   ranking       municipio                uf  populacao
0        1       São Paulo         São Paulo   11451999
1        2  Rio de Janeiro    Rio de Janeiro    6211223
2        3        Brasília  Distrito Federal    2817381
3        4       Fortaleza             Ceará    2428708
4        5        Salvador             Bahia    2417678

In [2]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ranking    319 non-null    int64
 1   municipio  319 non-null    object
 2   uf         319 non-null    object
 3   populacao  319 non-null    int64
dtypes: int64(2), object(2)
memory usage: 10.1+ KB

In [3]:
regiao_nordeste = [
    'Bahia',
    'Ceará', 
    'Pernambco'
    'Paraíba',
    'Sergipe',
    'Alagoas',
    'Rio Grande do Norte',
    'Maranhão',
    'Piauí'
]

dfm= dfm.reset_index(drop=True)

In [4]:
dfm.info()
dfm.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ranking    319 non-null    int64
 1   municipio  319 non-null    object
 2   uf         319 non-null    object
 3   populacao  319 non-null    int64
dtypes: int64(2), object(2)
memory usage: 10.1+ KB

   ranking       municipio                uf  populacao
0        1       São Paulo         São Paulo   11451999
1        2  Rio de Janeiro    Rio de Janeiro    6211223
2        3        Brasília  Distrito Federal    2817381
3        4       Fortaleza             Ceará    2428708
4        5        Salvador             Bahia    2417678

In [5]:
dfm=dfm['uf'].isin(regiao_nordeste) & (dfm['populacao']>= 25000)

In [6]:
dfm.head()

0    False
1    False
2    False
3     True
4     True
dtype: bool